.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: darkslategray;
}

.logo-container {
    height: 20px;
}

.logo {
    width: 150px;
}

.nav-items>ul {
    display: flex;
    padding: 30px;
    font-weight: bold;
    color: white;
    list-style-type: none;
}

.nav-items>ul>li {
    padding: 20px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    padding: 5px;
    width: 200px;
    margin: 5px;
}

.res-card:hover {
    border: 2px solid black;
    cursor: pointer;
}

.serach {
    padding: 10px
}

.res-logo {
    width: 100%;
    height: 40%;
}

.res-list {
    display: flex;
    justify-content: center;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-cards {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login {
    padding: 0px 20px;
    cursor: pointer;
}

.filter {
    display: flex;
}

.nav-items>ul>li>a,
.res-container>a {
    color: white;  
    text-decoration: none;
}

.user-card{
    padding: 10px;
    border: 1px solid black;
}